.contenedor {
  background-color: #f7f7f7;
  padding: 0 20px;
  max-width: 900px;
  margin: auto;
}

.nav1 {
  display: flex;
  justify-content: space-between;
}

.logostitulo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fotologo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

.iconoPlaceHolder {
  text-align: center;
  background-image: url("../../imagenes/search_FILL0_wght400_GRAD0_opsz48.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-y: 3px;
  background-position-x: 3px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  padding: 0;
}