.contenedorPokemones {
  border-radius: 5%;
}

.linkDetalles {
  text-decoration: none;
}

.tarjetaPk {
  list-style: none;
  border: 2px solid;
  border-radius: 9px;
  color: white;
  background-color: #ffffff;
}

.tarjetaId {
  grid-area: id;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 10px;
}

.tarjetaImg {
  grid-area: foto;
  width: 50%;
}

.tarjetaNombre {
  grid-area: nombre;
  margin: 0;
  border-radius: 0 0 6px 6px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}