.contenedorPokemones {
  border-radius: 5%;
}
.tarjetaId {
  grid-area: id;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 10px;
}

.tarjetaImg {
  grid-area: foto;
  width: 50%;
}
.tarjetaNombre {
  grid-area: nombre;
  margin: 0;
  border-radius: 0 0 5% 5%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
